# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [16]:
sal.loc[sal.EmployeeName == 'JOSEPH DRISCOLL',['JobTitle']]

                     JobTitle
24  CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [18]:
sal.loc[sal.EmployeeName == 'JOSEPH DRISCOLL',['TotalPayBenefits']]

    TotalPayBenefits
24         270324.91

** What is the name of highest paid person (including benefits)?**

In [22]:
sal.loc[sal.TotalPayBenefits==sal.TotalPayBenefits.max(),:]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [27]:
sal.loc[sal.TotalPayBenefits==sal.TotalPayBenefits.min(),:]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [25]:
sal.groupby('Year').mean().BasePay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [30]:
len(sal.JobTitle.unique())

2159

** What are the top 5 most common jobs? **

In [36]:
sal.groupby('JobTitle').size().sort_values(ascending=False).head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [51]:
sal.groupby('JobTitle').size().loc[JobTitlesCount==1]

JobTitle
ACPO,JuvP, Juv Prob (SFERS)                           1
ACUPUNCTURIST                                         1
ADMINISTRATOR, SFGH MEDICAL CENTER                    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS         1
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR             1
ANIMAL CARE ASSISTANT SUPERVISOR                      1
ANIMAL CARE SUPERVISOR                                1
AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES        1
ASPHALT PLANT SUPERVISOR I                            1
ASSESSOR                                              1
ASSISTANT COURT REPORTER COORDINATOR                  1
ASSISTANT DIRECTOR OF CLINICAL SERVICES I             1
ASSISTANT DIRECTOR OF CLINICAL SERVICES II            1
ASSISTANT DIRECTOR, JUVENILE HALL                     1
ASSISTANT DIRECTOR, LOG CABIN RANCH                   1
ASSISTANT INDUSTRIAL HYGIENIST                        1
ASSISTANT INSPECTOR (POLICE DEPARTMENT)               1
ASSISTANT LAW LIBRARIAN                               1
ASSISTANT RECREATION SUPERVISOR                       1
ASSISTANT SUPERINTENDENT RECREATION                   1
ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS    1
ASSOCIATE HUMAN RESOURCES ANALYST                     1
ASSOCIATE MUSEUM CONSERVATOR, ASIAN ART MUSEUM        1
ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION      1
ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN         1
ATTORNEY FOR THE PUBLIC ADMINISTRATOR                 1
AUDIOLOGIST                                           1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I        1
Administrative Hearing Sup                            1
                                                     ..
Sheriff                                               1
Special Assistant 13                                  1
Special Assistant 18                                  1
Special Assistant 8                                   1
Sr Cnselor, Juv Hall (SFERS)                          1
Sr Sprv Prob Ofc, Juv Prob                            1
Supervising Mediator, UFCS                            1
TELECOMMUNICATIONS TECHNICIAN SUPERVISOR              1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY    1
TRAF SIGNAL ELECTRICIAN SUP I                         1
TRAF SIGNAL ELECTRICIAN SUP II                        1
TRAFFIC HEARING OFFICER                               1
TRAFFIC SIGN MANAGER                                  1
TRAFFIC SIGNAL OPERATOR                               1
TRAINING COORDINATOR                                  1
TRAINING TECHNICIAN                                   1
TRANSIT PAINT SHOP SUPERVISOR I                       1
TRANSIT POWER LINE WORKER SUPERVISOR II               1
TREASURER                                             1
TREE TOPPER SUPERVISOR II                             1
TRIAL DELAY REDUCTION COORDINATOR                     1
Undersheriff (SFERS)                                  1
VETERNIARY LABORATORY TECHNOLOGIST                    1
VICTIM & WITNESS TECHNICIAN                           1
WAREHOUSE WORKER                                      1
WHARFINGER I                                          1
WINDOW CLEANER SUPERVISOR                             1
WIRE ROPE CABLE MAINTENANCE SUPERVISOR                1
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS        1
ZOO CURATOR                                           1
Length: 239, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [48]:
theChiefs = sal.loc[sal.JobTitle.str.contains("Chief")]
theChiefs.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN

In [49]:
theChiefs.size

5499

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [55]:
pd.concat([sal.JobTitle.apply(lambda x: len(x)),sal.TotalPay],axis=1).corr()

          JobTitle  TotalPay
JobTitle  1.000000 -0.015356
TotalPay -0.015356  1.000000

### We can safely say that there is no correlation between length of Title and TotalPay

# Great Job!